<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>Formulaire </title>
</head>
<body>
    <div id="app">
        <form v-if="connected === false" action="" method="POST">
            <label for="login">login</label>
            <input v-model="login" type="text" name="login" id="login">
            <br>
            <label for="password">password</label>
            <input v-model="password" type="password" name="password" id="password">
            <br>
            <button v-on:click="submit">Go</button>
        </form>
        <div v-else>
            Hello {{ login }}
            <p>
                <button @click="disconnect">Se déconnecter</button>
            </p>
        </div>
    </div>
    <script src="frontend/js/main.js"></script>
</body>

</html>